In [26]:
# libraries
import pandas as pd

In [27]:
#read Json file

df = pd.read_json("availableRental.json")

In [28]:
df.head()

,FSA,bathrooms,bedrooms,description,furnished,id,image,lat,long,pet_friendly,post_published_date,postal_code,price,rental_type,source,sqft,title,url
0,M6R,2,2,2BR / 2Ba available oct 1 loft w/d in unit car...,None,c_7200538781,https://images.craigslist.org/00Z0Z_betPb5YXm1...,43.652602,-79.447028,False,2020-09-21,M6R 3A2,4500,loft,craigslist,,RONCESVALLES-2 BED/2 BATH/1 PARKING-MORROW AVE,https://toronto.craigslist.org/tor/apa/d/toron...
1,M4C,1,2,2BR / 1Ba available now duplex w/d in unit/ 2b...,None,c_7200537147,https://images.craigslist.org/00J0J_fmjnKOiOAS...,43.691300,-79.311600,False,2020-09-21,M4C 5J7,2150,duplex,craigslist,,2 Bedroom Upper Floor Unit for Lease - Woodbin...,https://toronto.craigslist.org/tor/apa/d/east-...
2,M6H,1.5,2,2BR / 1.5Ba 1200ft2 available oct 1 cats are O...,None,c_7200474055,https://images.craigslist.org/00k0k_8VUSONV0S6...,43.657080,-79.443491,True,2020-09-21,M6H 4A2,2850,apartment,craigslist,1200,Brockton Village Main and 2nd Floor Apartment,https://toronto.craigslist.org/tor/apa/d/toron...
3,M5G,2,2,2BR / 2Ba 1319ft2 available now apartment w/d ...,None,c_7200494004,https://images.craigslist.org/01515_dp6vQPhcMZ...,43.659357,-79.382701,False,2020-09-21,M5G 2K2,4095,apartment,craigslist,1319,Aura Condos | 2 Beds + Den / 2 Baths | Parking,https://toronto.craigslist.org/tor/apa/d/toron...
4,M5A,1,1,1BR / 1Ba available nov 1 apartment w/d in uni...,None,c_7200455622,https://images.craigslist.org/00k0k_biOyCxc3GH...,43.652477,-79.363681,False,2020-09-21,M5A 1K6,1995,suite,craigslist,,The King East | 1 Bedroom + 1 Bath,https://toronto.craigslist.org/tor/apa/d/toron...

In [29]:
#find mean by no. of bedrooms and FSA
df_aggregate = df.groupby(["FSA", "post_published_date", "bedrooms"])["price"].mean()

In [30]:
df_aggregate.head()

FSA  post_published_date  bedrooms
     2020-10-18           1.0         2995.0
     2020-10-19           1.0         1700.0
     2020-10-20           1.0         1800.0
     2020-10-21           2.0         1750.0
     2020-10-22           2.0         2400.0
Name: price, dtype: float64

In [31]:
df_updated = df_aggregate.reset_index()

In [32]:
df_updated.head()

  FSA post_published_date bedrooms   price
0              2020-10-18        1  2995.0
1              2020-10-19        1  1700.0
2              2020-10-20        1  1800.0
3              2020-10-21        2  1750.0
4              2020-10-22        2  2400.0

In [33]:
df_updated.rename(columns={"price" : "average_price"}, inplace=True)

In [34]:
df_updated.head()

  FSA post_published_date bedrooms  average_price
0              2020-10-18        1         2995.0
1              2020-10-19        1         1700.0
2              2020-10-20        1         1800.0
3              2020-10-21        2         1750.0
4              2020-10-22        2         2400.0

In [35]:
#save to file
df_updated.to_json("Rental_price_aggregate.json")